body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    margin: 0;
    font-size: 1.2em;
}

.informacao-contato {
    margin-top: 10px;
}

section {
    margin: 20px;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-top: 0;
    color: #333;
}

.education {
    margin-bottom: 20px;
}

h3 {
    margin: 0;
    font-size: 1.4em;
    color: #444;
}

ul {
    padding-left: 20px;
}

ul.skills-list {
    list-style: none;
    padding: 0;
}

ul.skills-list li {
    background: #ddd;
    padding: 5px;
    margin: 5px;
    border-radius: 4px;
    display: inline-block;
}

ul.qualidades-list {
    list-style: none;
    padding: 0;
}

ul.qualidades-list li {
    background: #ddd;
    padding: 5px;
    margin: 5px;
    border-radius: 4px;
    display: inline-block;
}

footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: #A2A2A2;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Animação de brilho */
@keyframes brilho {
    0% {
        text-shadow: 0 0 5px #e126d9, 0 0 10px #e126d9, 0 0 20px #e126d9;
    }
    50% {
        text-shadow: 0 0 10px #e126d9, 0 0 20px #e126d9, 0 0 30px #e126d9;
    }
    100% {
        text-shadow: 0 0 5px #e126d9, 0 0 10px #e126d9, 0 0 20px #e126d9;
    }
}